# Exercise in Photogrammetry I
## **Ex.1 : Essential Python Programming**
### Hand out: xx.xx.xxxx
### Submission: xx.xx.xxxx
### Points: 23

## A. Python Varialbes

A variable is a container for a value, which can be of various types, e.g., int, float and str.

## A1 

**Task**: Define two variables $x$ and $y$ and compute their divsion and sum. Let $x$ be equal to 10 and $y=3$. **Print out** the **type** of $x$, $y$, $\frac{x}{y}$ and $x+y$ as well as the **result** of their divsion and sum. (2 Points)

In [20]:
# Define the variables in this cell
x = 10
y = 3

In [21]:
# Compute the divsion of both variables
div = x/y

In [22]:
# Compute the sum of both variables
sum = x + y

In [23]:
# Print out the data types in this cell
type(x), type(y), type(div), type(sum)

(int, int, float, int)

In [24]:
# Print out the result of the divison and sum in this cell
print (div, sum)

3.3333333333333335 13

## B. Python Lists, Tuples and Dictionaries

A List is a collection which is *ordered* and *changeable*. It allows for *duplicate members*.

A Tuple is a collection which is *ordered* and *unchangeable*. It allows for *duplicate members*.

A Dictionary is a collection which is *unordered*, *changeable* and *indexed*. *No duplicate* keys allowed

### B1

**Task**: Create a list which contains the values 1 to 9. **Print out** the **length** of the list and compute the **sum** of the first and last entry by using *indexing*. (3 Points)

In [25]:
# Create your list here
l = [1,2,3,4,5,6,7,8,9]

In [26]:
# Compute the length of the list
length = len(l)

In [27]:
# Compute the sum of the first and last entry by using indexing.
s = l[0] + l[-1]

In [28]:
# Print out the length of the list this cell
length

9

In [29]:
# Print out the sum of first and last entry in this cell
s

10

**Task**: Set the first entry of this list to 100 and append the value of 99 to the list. Again **print out** the **length** of this the and compute the **sum** of the first and last entry by using *indexing*. (2 Points)

In [30]:
# Modify the elements of your list in this cell
l[0] = 100
l.append(99)

In [31]:
# Compute the length of the list
length = len(l)

In [32]:
# # Compute the sum of the first and last entry by using indexing.
s = l[0] + l[-1]

In [33]:
# Print out the length of the list this cell
length

10

In [34]:
# Print out the sum of first and last entry in this cell
s

199

### B2

**Task**: Create a tuple which contains the same values as the previously defined list. Try to change the second element of this tuple to 77 and run the script <br /> (*Cell* > *Run All*). Describe which error occurs and why. Make sure to comment this line of code afterwards otherwise cells below will not be executed! 
(2 Points)

In [35]:
# Create the tuple in this cell
t = tuple(l)

In [36]:
# Try to change the 2nd element of this tuple

# t[1] = 77

# First execute the code (Cell > Run All) and inspect the error.
# Afterwards make sure to comment all code within in this cell - otherwise cells below will not be executed!

TypeError: 'tuple' object does not support item assignment

Write your **answer** about which error occurs and why **here**:

The error states that tuple object does not support item assignment.
The error occurred because a tuple is unchangeable.

### B3

**Task**: Create a dictionary which contains the following key-value pairs: *City* - *Bonn*, *Street* - *Nussallee*, *HouseNumber* - 15.<br /> Get the value of *HouseNumber* and **print it out**. (3 Points)

In [39]:
# Create the dictionary here
d = {}
d['City'] = 'Bonn'
d['Street'] = 'Nussallee'
d['HouseNumber'] = 15

In [40]:
# Get the value of 'HouseNumber' and print it in this cell
d['HouseNumber']

15

**Task**: Add the key-value pair *LectureRoom* : *14* to this dictionary. Finally **print out** all **keys** and **values** of this dictionary. (2 Points)

In [41]:
# Add key-value pair
d['LectureRoom'] = 14

In [42]:
# Print out all keys of the dict
d.keys()

dict_keys(['City', 'Street', 'HouseNumber', 'LectureRoom'])

In [43]:
# Print out all values of the dict
d.values()

dict_values(['Bonn', 'Nussallee', 15, 14])

## C. Python Conditionals and Loops

**Task**: You are given a list which contains multiple lists itself which we assign to the variable called *nested_list*.<br>
**Print out** the length of *nested_list* and write a *for loop* which **prints** the **length** of each individual list within the *nested_list* (3 Points)

**Hint**

In [44]:
# Python is picky with tabs! All code you want to run within a loop or condition needs to be indented by 4 spaces.
# In case the loop or condition in nested within another loop or condition it needs to be indented by 
# 8 spaces and so on.

# Example
for i in range(1):
    print(i)             # -> 4 spaces before the print statement
    for j in range(1):   # -> 4 spaces before for begins
        print(j)         # -> 8 spaces before the print statement

0
0

In [45]:
# You are a given a nested list
nested_list = [[1,2,3,0],
               [4,5,0,6, 5],
               [7,0,9,0,10, -10]]

In [48]:
# Print out the length of nested_list in this cell
len(nested_list)

3

In [47]:
# Write the code to print the length of each individual list within the nested_list in this cell by using a loop
for l in nested_list:
    print (len(l))

4
5
6

**Task**: Sum up all entries in the nested list by using nested *for loops*. If a entry is equal to zero **print** the string *'Found zero element**. Finally **print out** the result of the **sum**. (3 Points)

In [50]:
# Write the code to sum up all entries in nested_list in this cell
s = 0
for l in nested_list:
    for v in l:
        s += v
        if v == 0:
            print ('Found zero element')

Found zero element
Found zero element
Found zero element
Found zero element

In [51]:
# Print out the result of the sum in this cell
s

42

## D. Python Functions

**Task**: Write a function called *sum_nested_list* which takes as input parameter a nested list and returns the sum of all entries (2 Points)

In [52]:
# Define your Function in this cell
def sum_nested_list (l):
    s = 0
    for sl in l:
        for v in sl:
            s += v
    return s

**Task**: Pass the given variable *another_nested_list* to your function and **print out** the **result** (1 Point)

In [53]:
# Given variable another_nested_list 
another_nested_list = [[22, -22, 33], [-33, 44, 55], [-55, -44, 1, -2]]

In [54]:
# Call your function here
s = sum_nested_list(another_nested_list)

In [55]:
# Print out the sum of all entries here
s

-1